*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

wiki_*
zzz*
*.txt
*.model
*.dict
*.mm
*.lsi
*.npy
Session.vim
log_*
*.pkl
pull/local_settings.py
pull/static/pic/*
sogou_index.lsi.0
