<html><head><title>图片搜索</title>
<meta name="description" content="资讯,好文章，获取正文"/>
<meta charset="utf-8"/>
  <link rel="shortcut icon" href="/favicon.ico" />
  <style type="text/css">
	  body{padding:0; margin:0;}
	  #warp{width:1200px; margin:0 auto; text-align:center; margin-top:10px;}
	  ul{width:1200px; list-style-type:none; overflow:hidden; margin:0 auto; padding:0;}
	  ul li{float:left; margin-right:15px; text-align:center; margin-top:10px;}
	  ul li span{ display:block; height:25px; line-height:25px;}

  </style>
  </head>
  <body>
	  <div id="wrap">
    <h2>图片搜索示例</h2>
	<p>Search pic id:{{pic}} (0表示列出<a href='/pic/'>随机的50个</a>)</p>
	<ul>
    {% for obj in object_list %}
        <li>
            <a href="/pic/?id={{obj.id}}" alt='{{obj.id}}'>
				<img alt='{{obj.id}}' src='{{obj.url}}'/></a><br/>
            <span>相似度:{{obj.sim}}</span>
        </li>  
		{% endfor %}
	</ul>
    <div>
    </body>
</html>
